<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>About Ricky Rubio</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <header>
      <h1>About Ricky Rubio</h1>
    </header>

    <div class="container">
      <p>
        Hello, I'm Ricky Rubio, a highly skilled and accomplished professional
        basketball player. Here's a bit about me:
      </p>

      <ul>
        <li><strong>Birthdate:</strong> October 21, 1990</li>
        <li><strong>Occupation:</strong> Professional Basketball Player</li>
        <li>
          <strong>Biography:</strong> Ricky Rubio, born on October 21, 1990, in
          El Masnou, Spain, is a Spanish professional basketball player. Known
          for his exceptional skills as a point guard, Ricky has left a lasting
          impact on the world of basketball. He began his professional career in
          Spain before making his way to the NBA.
        </li>
      </ul>

      <p>
        Ricky Rubio continues to showcase his talents on the court, captivating
        fans with his incredible passing abilities, court vision, and leadership
        skills. His journey in the NBA, including stints with teams like the
        Minnesota Timberwolves, Utah Jazz, and Phoenix Suns, has solidified his
        status as one of the prominent figures in the sport.
      </p>
    </div>
  </body>
</html>
