<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Ricky Rubio's Photo Gallery</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <header>
      <h1>Ricky Rubio's Photo Gallery</h1>
    </header>

    <div class="container">
      <p>Explore a collection of pictures related to Ricky Rubio.</p>

      <div class="gallery">
        <img src="/assets/image.jpg" alt="Ricky Rubio Photo 1" />
        <img src="/assets/images.jpg" alt="Ricky Rubio Photo 2" />
        <img src="/assets/ricky-rubio-cleveland-cavaliers-nba_2024-01-05_10-33-33.jpg" alt="Ricky Rubio Photo 3" />
        <img src="/assets/USATSI20336961-58b7814d-230d-4252-8e36-275a97b7e3a6.webp" alt="Ricky Rubio Photo 3" />
      </div>
    </div>
  </body>
</html>
