
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Ricky Rubio - Home</title>
  </head>
  <body>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
        <li><a href="/gallery">Gallery</a></li>
      </ul>
    </nav>
    <header>
      <h1>Welcome to Ricky Rubio's Home Page</h1>
      <p>Professional Basketball Player</p>
    </header>

    <section class="intro">
      <img src="/assets/Ricky-Rubio-Cavs.webp" alt="Ricky Rubio" />
      <p>
        Ricky Rubio is a Spanish professional basketball player currently
        playing for the Minnesota Timberwolves in the NBA. Born on October 21,
        1990, in El Masnou, Spain, Ricky has made significant contributions to
        the sport and is widely recognized for his impressive skills as a point
        guard.
      </p>
      <p>
        Throughout his career, Ricky has showcased exceptional passing
        abilities, court vision, and leadership on the basketball court. He has
        played for various teams in the NBA, including the Utah Jazz and Phoenix
        Suns.
      </p>
      <p>
        Explore more about Ricky Rubio's journey, achievements, and enjoy a
        glimpse into his life through the gallery.
      </p>
    </section>
  </body>
</html>
